@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;    
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline {
    display: inline;
}
.modal-outer {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    background-color: rgba(8, 4, 4, 0.3);
    overflow: auto;
}
.modal-outer.opened {
    display: block;
}
.modal-inner {
    position: relative;
    margin: 10% 20%;
    z-index: 1000;
}
.modal-hidden {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.modal-dialog {
    width: auto;
}
.table-all{
    position:relative;
    width: 100%;
    padding: 20px 5%;
    background-color: rgba(200, 200, 200, .25);
    -webkit-box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
    box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
}
.table-scroll {
    max-height: 200px;
    overflow: auto;
    margin-top: 30px;
}
.table-all .table tr:first-child th {
    border: none;
}
.table>tbody>tr>th {
    padding: 0px;
}
.table-all .table tr:first-child th b{
    position: absolute;
    top: 125px;
    margin-left: 5px;
}
.table-search {
    position: relative;
    width: 100%;
    padding: 20px 5%;
}
.table-search .table tr:first-child th {
    border: none;
}
.table-search .table tr:first-child th b{
    position: absolute;
    top: 25px;
    margin-left: 5px;
}
.width-100-per {
    width: 100%;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-20 {
    margin-right: 20px;
}
.user-search {
    padding: 40px 0px;
    background-color: rgba(200, 200, 200, .25);
    -webkit-box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
    box-shadow: -1px 7px 22px 0px rgba(0,0,0,0.35);
}
.multi-select {
    padding: 40px 5%;
}
.multi-select .btn:focus,.multi-select .btn:active {
    outline: none !important;
    box-shadow: none;
 }
.multi-select .btn.left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.multi-select .btn.right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.multi-select .btn.active {
    background-color: rgba(40, 40, 40, .5);
    color: #FFF;
}
.green {
    color: green;
}
.red {
    color: red;
}
.margin-top-10-per {
    margin-top: 10%;
}
.landing-header {
    padding: 10px 20px;
    background-color: #0078B9;
}
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-right .vertical-center {
    justify-content: flex-end;
} 
.align-left .vertical-center {
    justify-content: flex-start;
} 
.height-50 {
    height: 50px;
    width: auto;
}
.landing-body h3 {
    font-weight: bold;
}
.landing-body p {
    font-size: 18px;
}
.padding-top-10-per {
    padding-top: 10%;
}
.background-light-blue {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #0081BF;
    z-index: -1;
}
.no-padding {
    padding: 0px;
}
.no-margin {
    margin: 0px;
}
.user-authentication {
    width: 500px;
    padding-top: 10%;
}
.user-authentication .heading {
    font-weight: bold;
}
.category {
    min-width: 300px;
    z-index: 0;
}
.category.unselected {
    padding: 8px;
    margin: 10px;
    background-color: #e2e4e6;
    border-radius: 6px;
    vertical-align: top;
    color: black;
}
.category.unselected.empty {
    background-color: #0078B9;
}
.category.unselected input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    transition: none;
    box-shadow: none;
    padding: 0px 10px;
    color: black;
}
.category.unselected .category-details {
    padding: 6px 12px;
}
.category.unselected .category-name {
    padding-right: 10px;
}
.category.unselected input::-webkit-input-placeholder,
.category.unselected input::placeholder {
    color: white !important;
    opacity:  1 !important;
}
.category.unselected input:-moz-placeholder, 
.category.unselected input::-moz-placeholder {
    color: white !important;
    opacity:  1 !important;
}
.category.unselected input:-ms-input-placeholder, 
.category.unselected input::-ms-input-placeholder {
    color: white !important;
    opacity:  1 !important;
}
.category.selected {
    padding: 8px;
    margin: 10px;
    background-color: #e2e4e6;
    border-radius: 6px;
    vertical-align: top;
}
.category.selected i, .category.unselected i {
    font-size: 24px;
    color: rgba(40, 40, 40, .5);
    cursor: pointer;
}
.task-manager {
    padding: 5px 10px;
}
.task-manager a {
    cursor: pointer
}
.category.unselected .add-task input, .add-task input {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: none;
}
.category.unselected .add-task textarea, .category.unselected .add-task textarea:focus {
    transition: none;
    outline: none;
    border-color: #ccc;
    box-shadow: none;
}
.category.unselected .add-task input::-webkit-input-placeholder,
.category.unselected .add-task input::placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.category.unselected .add-task input:-moz-placeholder, 
.category.unselected .add-task input::-moz-placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.category.unselected .add-task input:-ms-input-placeholder, 
.category.unselected .add-task input::-ms-input-placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.task-manager .readonly input, .task-manager .readonly textarea {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    transition: none;
    box-shadow: none;
    padding: 0px 10px;
    color: black;
    resize: none;
}
.task-manager .edit input, .task-manager .edit textarea {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: none;
    resize: none;
}
.task-manager .edit input::-webkit-input-placeholder,
.task-manager .edit input::placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.task-manager .edit input:-moz-placeholder, 
.task-manager .edit input::-moz-placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.task-manager .edit input:-ms-input-placeholder, 
.task-manager .edit input::-ms-input-placeholder {
    color: #A1A8A8 !important;
    opacity:  1 !important;
}
.task {
    cursor: pointer;
    background-color: rgba(200, 200, 200, .35);
    padding: 10px;
    border-radius: 5px;
    margin-bottom:10px;
    z-index: 2;
}
.save-contents {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgba(200, 200, 200, .25);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.save-contents i {
    font-size: 24px;
}
.white {
    color: white;
    text-decoration: underline;
}